NEXT_PUBLIC_SUPABASE_URL=https://wiumdammqsxzgkvhizit.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpdW1kYW1tcXN4emdrdmhpeml0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMDM2MDksImV4cCI6MjA5ODg3OTYwOX0.nvst_EhIXKY8vHdueMhzXONfIotSc07neosAmQGmiGc
